*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    
    min-width: 720px;
    background: linear-gradient(violet, skyblue) fixed;
    margin: 0px 0px;    
    padding: 50px 300px;
    scroll-behavior: smooth;
    scrollbar-width: 20px;
}
#bk{
    
    text-align: center;
    text-decoration: underline;

}

.book #b{
    cursor: default;
    margin: 5px 20px;
    padding: 5px;
    border: 2px solid black;
    display: inline-flex;
    text-align: center;

}
.book #b:hover{
    transition: 0.25s;
    transform: scale(1.1);
}
.book:hover{
    border-radius: 20px;
    transform: scale(1.1);
    transition: 0.5s;
}
.book{
    
    padding: 20px;
    align-content: center;
    margin: 30px 0px;
    border: 2px dashed rgba(240, 1, 200, 0.678);
    border-radius: 5px;
}
::-webkit-scrollbar{
    scroll-behavior: smooth;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: violet
}
